@font-face {
  font-family: "Iceland";
  src: url("../archivos/fuentes/iceland.ttf") format("truetype");
}
@font-face {
  font-family: "Manuale";
  src: url("../archivos/fuentes/manuale.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  src: url("../archivos/fuentes/roboto.ttf") format("truetype");
}
@font-face {
  font-family: "gruppo";
  src: url("../archivos/fuentes/gruppo.ttf") format("truetype");
}
:root{
--colortitulos: rgba(255,255,255,1);
--colorpri: rgba(210,210,210,1);
--colorpri01: rgba(210,210,210,0.1);

--tamanoentrada: 28px;
--resplandorentrada: 0px 0px 10px rgba(210,210,210,0.8);

--colorhora: rgba(255, 255, 255, 1);

--sombrageneral: 0px 0px 20px 5px rgba(200,200,200,0.4);
--opacidadg: rgba(0,0,0,0.3);
--fondod: url("../archivos/fondos/fondo2.jpg");

--tamanop: 1.3vw;
--tamanopp: 0.7vw;
--tamanotit: 3vh;
--fondod: url("../archivos/fondos/fondo1.jpg");
--tamanog: 1.8vw;
}

 body { 
      font-family: 'Iceland';
      font-size: var(--tamanop);
      width: 100%;
      height: 100%;
      overflow: hidden; /* Hide scrollbars */
      background: var(--fondod);
      background-size: cover;
      cursor: none;
    }
	
#fondo{
	width: 105%;
    height: 105%;
	z-index:1;
	overflow: hidden;
	background: var(--opacidadg);
	position: absolute;
	margin-top: -2.5%;
	margin-left: -2.5%;
}

#reloj {
    width: 10vw;
    height: 10vw;
    position:absolute;
    z-index:2;
	top: calc(50% - 5vw);
	left: 45vw;
	text-align: center;
	border-radius: 50%;
} 

#fechita {
    height: var(--tamanog);
    z-index:2;
    width: 100%;
    text-align: center;
	font-family: 'Iceland';
    color: var(--colorpri);
    font-size: var(--tamanopp);
} 

#horita {
    height: var(--tamanog);
    z-index:2;
    width: 100%;
    text-align: center;
} 

.time {
  font-family: 'Iceland';
  color: var(--colorhora);
  letter-spacing: 0.02em;
  font-size: var(--tamanog);
}

.time2 {
font-family: 'Iceland';
  color: var(--colorpri);
  letter-spacing: 0.02em;
  font-size: var(--tamanog);
}

#calendario {
    width: 40vw;
    height: 41vh;
    left: 2vw;
    top: 4vh;
    position:absolute;
    z-index:1;
	border: 1px solid rgba(200,200,200,0.1);
	border-radius: 4px;
	background: linear-gradient(0deg, rgba(200,200,200,0.1) 10%, rgba(200,200,200,0.1) 50%);
	
} 

#menu{
width: 100%;
height: 15%;
z-index: 10;
overflow: hidden;
}

#contengoentradas{
position: relative;
width: 98%;
height: var(--tamanotit);
left: 1%;
top: calc((100% - var(--tamanotit)) / 2)
}

.entrada{
font-size: var(--tamanotit);
color: var(--colorpri);
text-shadow: var(--resplandorentrada);
display: inline-block;
text-align: center;
width: 14.2857%;
}

#tiempo {
    width: 41.3vw;
    height: 46.5vh;
    left: 57.3vw;
    top: 1vh;
    position:absolute;
    z-index:1;
} 

#titulonoticias {
    width: 16vw;
    height: 3vh;
    font-size: var(--tamanotit);
    left: 70vw;
    top: calc(50vh - (var(--tamanotit) / 2));
    position:absolute;
    z-index:5;
    text-align: center;
    color: var(--colorpri);
} 

#noticias {
    width: 41.2vw;
    height: 42.7vh;
    left: 57.5vw;
    top: 54.3vh;
    position:absolute;
    z-index:1;
} 

#agenda {
    width: 40vw;
    height: 42vh;
    left: 2vw;
    top: 55vh;
    position:absolute;
    z-index:2;
    text-align: center;
} 

#tituloagenda {
    width: 20vw;
    height: 3vh;
    font-size: var(--tamanotit);
    left: 12vw;
    top: calc(50vh - (var(--tamanotit) / 2));
    position:absolute;
    z-index:5;
    text-align: center;
    color: var(--colorpri);
} 

.circulo {
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: transparent;
    position: absolute;
    box-shadow: 0px 0px 30px 5px var(--colorpri);
    border-radius: 50%;
    filter: blur(1px);
}

.circulo2 {
    width: 95%;
    height: 95%;
	margin-top: 2.5%;
	margin-left: 2.5%;
	border-radius: 50%;
	border-top: 1px solid var(--colorpri);
	border-bottom: 1px solid var(--colorpri);
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
    z-index:10;
	animation: spin 2s linear infinite;
	background-color: transparent;
	position: absolute;
	filter: blur(1.3px);
}

.centrado{
	position: relative;
    top: 50%;
    transform: translatey(-40%);

}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
